<!DOCTYPE html>
<html>
<head>
    <title>Four Point Two</title>
    <script src="/lib/angular.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.min.js"></script>
</head>

<body ng-app="fourpointtwo">
  <h1>Four Point Two</h1>
  <div ng-controller="MainController">
    <form ng-submit="setCurrentSchoolById(currentSchoolId)">
      <label>
        School
        <select ng-model="currentSchoolId">
          <option ng-repeat="school in allSchools" value="{{school._id}}">{{school.name}}</option>
        </select>
      </label>
      <input type="submit"></input>
    </form>
    <ui-view></ui-view>
  </div>
</body>

<script src="app/app.js"></script>
<script src="app/mainController.js"></script>
<script src="app/ratings/categories/categoryFactory.js"></script>
<script src="app/ratings/ratingFactory.js"></script>
<script src="app/ratings/ratingForm/ratingController.js"></script>
<script src="app/ratings/ratingForm/ratingFormState.js"></script>
<script src="app/schools/schoolFactory.js"></script>
<script src="app/schools/schoolDetails/schoolDetailsState.js"></script>
</html>
